@if (productsResource.isLoading()) {
<div class="flex justify-center items-center h-screen">
  <span class="loading loading-spinner loading-lg"></span>
</div>
}
<!-- Producto -->
@if (productsResource.hasValue()) {
<div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
  <!-- Imagenes -->
  <!-- <p>Imagenes</p> -->
  <app-product-carousel [images]="productsResource.value()!.images" />
  <!-- Producto -->
  <div>
    <h2 class="text-primary font-bold text-xl font-montserrat">{{productsResource.value()!.title}}</h2>
    <div class="divider"></div>
    <p>{{productsResource.value()!.description}}</p>
  </div>
</div>
}
