<div class="card bg-base-100 w-96 shadow-xl animate-fadeIn">
  <figure>
    <img [src]="imageUrl() | productImage" [alt]="title()" />
  </figure>
  <div class="card-body">
    <h2 class="card-title font text-xl" [routerLink]="['/product',slug()]"
      class="link link-accent hover:underline cursor-pointer">
      {{title()}}</h2>
    <p>{{description() | slice:0:58}}</p>
    <div class="card-actions justify-end">
      <a [routerLink]="['/product',slug()]" class="link link-accent">
        Ver
      </a>
    </div>
  </div>
</div>
