@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
}
@font-face {
  font-family: Montserrat;
  src: url('/assets/fonts/montserrat-medium.ttf') format('truetype');
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeIn o.3s ease-in-out;
}
@theme {
  --font-montserrat: 'Montserrat', sans-serif;
}
